html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #2e60ca 0%, #9bcdff 100%);
    color: #f2f5f8;
  }

.container {
    max-width: 600px;
    margin: 0 auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}
th {
    background-color: #000000;
    font-weight: bold;
}
.checkbox-column {
    text-align: center;
    width: 100px;
}
input[type="checkbox"] {
    transform: scale(1.5);
    cursor: pointer;
}
.enviar-btn {
    text-decoration: none;
    color: #007bff;
}
.enviar-btn:hover {
    text-decoration: underline;
}