html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #2e60ca 0%, #9bcdff 100%);
    color: #f2f5f8;
  }
  



#sistem_Name{
    color:#2E60CA; 
}